docker-compose-secrets.yaml
certs/
homeassistant/.HA_VERSION
homeassistant/.uuid
homeassistant/*.log
homeassistant/*.db
homeassistant/tts/*
homeassistant/secrets.yaml
homeassistant/plex.conf
homeassistant/options.xml
homeassistant/*zw*
homeassistant/OZW*
homeassistant/.wink.conf
**/__pycache__/**
unifi/*
caddy/*