docker-compose-secrets.yaml
certs/
homeassistant/.HA_VERSION
homeassistant/.uuid
homeassistant/*.log
homeassistant/*.db
homeassistant/tts/*
homeassistant/secrets.yaml
homeassistant/plex.conf
homeassistant/options.xml
homeassistant/*zw*
homeassistant/OZW*
homeassistant/.wink.conf
homeassistant/.august.conf
homeassistant/entity_registry.yaml
homeassistant/deps/*
homeassistant/.cloud/*
homeassistant/html5_push_registrations.conf
homeassistant/nest.conf

**/__pycache__/**
unifi/*
caddy/*
config.ini
default.json
node_modules
